
<!-- Modal PEN REDES-->
<div class="modal fade" id="redesModalpen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">REDES</h1>
          
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form [formGroup]="form" name="redform">
        <div class="modal-body">

          <ul class="p-0">
            <li *ngFor="let red of redes" class="d-flex justify-content-between align-items-center m-1 ">
              <span>{{red.id}}. {{red.icoFont}}</span>
              <span class="d-flex justify-content-between gap-2">
              <!--lapicito rojo que se cambia al tocarlo-->
                <button type="button" class="btn btn-sm btn-outline-success pl-1 pr-1 m-0" (click)="cargarDetalle(red.id)">
                  <i class="fa-solid fa-pen"></i>
                </button>
                <!--Tachico de Basura que se hace fondo rojo al tocarlo-->
                <button type="button" class="btn btn-sm btn-outline-danger pl-1 pr-1 m-0" (click)="borrar(red.id)">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </span>
            </li>
          </ul>
          
          <div class="mb-3">
            <label for="URL Red" class="form-label">url Red</label>
            <input type="url" class="form-control" id="exampleFormControlInput1" placeholder="campo obligatorio" formControlName="url" [ngClass]="{'is-invalid': form.get('url')?.errors && form.get('url')?.touched, 'is-valid': form.get('url')?.errors && form.get('url')?.touched}">
            <p class="text-danger"
              *ngIf="form.get('url')?.touched && form.get('url')?.errors?.['required']">
             La URL es requerida.
            </p>
          </div>
          


          <div class="mb-3">
            <label for="Icono Red" class="form-label">icono Red</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="icono obligatorio" formControlName="icoFont"
            [ngClass]="{'is-invalid': form.get('icoFont')?.errors && form.get('icoFont')?.touched, 'is-valid': form.get('icoFont')?.errors && form.get('icoFont')?.touched}">
            <p class="text-danger"
              *ngIf="form.get('icoFont')?.touched && form.get('icoFont')?.errors?.['required']">
              El icoFont es requerida.
            </p>
          </div>
      
          <div class="modal-footer">
            <button class="btn btn-secondary" (click)="form.reset()">RESET</button>
            <button class="btn btn-secondary" (click)="guardar()"[disabled]="form.invalid">GUARDAR DATOS</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
  <!-- FIN del Modal PEN REDES-->
  <!-- Modal TRASH REDES
  <div class="modal fade" id="redesModaltrash" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">REDES</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>elija una opción</option>
            <option value="1">instagram</option>
            <option value="2">twiter</option>
            <option value="3">linkedin</option>
            <option value="1">NUEVA RED</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secundary">BORRAR</button>
        </div>
      </div>
    </div>
  </div>
  FIN Modal  TRASH REDES-->

