section.proyectos .list-group-item:hover{
    background-color: rgb(98, 200, 206); 
    font-weight:bold;
}    
section.proyectos .list-group-item{
    background-color: none;    
    
}    

section.proyectos.img{
    width: -25%;
}
