<!-- Modal PEN DATOS PERSONALES-->
<div class="modal fade" id="datosPersonalesModalpen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">DATOS PERSONALES</h1>
          
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>elija una opción</option>
            <option value="1">nombre</option>
            <option value="2">descripcion</option>
            <option value="3">carrusel imagen 1</option>
            <option value="4">carrusel imagen 2</option>
            <option value="5">carrusel imagen 3</option>
            <option value="6">carrusel imagen 4</option>
          </select>
          <div class="mb-3">
            <label for="puesto" class="form-label">nombre</label>
            <input type="text" class="form-control" id="puesto" placeholder="complete aquí">
          </div>
          <div class="mb-3">
            <label for="puesto" class="form-label">descripción</label>
            <input type="text" class="form-control" id="puesto" placeholder="complete aquí">
          </div>
          <div class="mb-3">
            <label for="imagen" class="form-label">imagen nueva</label>
            <input type="file" class="form-control" id="exampleFormControlInput1" placeholder="complete aquí">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secundary">GUARDAR</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal FIN de PEN DATOS PERSONALES-->
  <!-- Modal TRASH DATOS PERSONALES-->
  <div class="modal fade" id="datosPersonalesModaltrash" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">DATOS PERSONALES</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>elija una opción</option>
            <option value="1">nombre</option>
            <option value="2">descripcion</option>
            <option value="3">carrusel imagen 1</option>
            <option value="4">carrusel imagen 2</option>
            <option value="5">carrusel imagen 3</option>
            <option value="6">carrusel imagen 4</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secundary">BORRAR</button>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN Modal TRASH de DATOS PERSONALES-->