<app-navbar></app-navbar>
<!--estructura de las LISTAS-->
<div class="container text-center mt-1">
   <div class="row">
      <!--GRILLA-->
      <div class="col-3"></div>
      <div class="col-3">
         <div class="list-group  mt-5 mb-5">
            <ul class="list-group nombresItems ">
               <!-- Lista de PORTFOLIO -->
               
               <li class="list-group-item mt-4
             mb-4" >REDES</li>
               <li type="button" class="list-group-item mt-4
             mb-4">DATOS PERSONALES</li>
               <li type="button" class="list-group-item mt-4
             mb-4">BANNER</li>
               <li type="button" class="list-group-item mt-4
             mb-4">EDUCACIÓN</li>
               <li type="button" class="list-group-item mt-4
             mb-4">EXPERIENCIA</li>
               <li type="button" class="list-group-item mt-4
             mb-4">HARD & SKILLS</li>
               <li type="button" class="list-group-item mt-4
             mb-4">PROYECTOS</li>
            </ul>
         </div>
      </div>
      <!-- boton PEN-->
      <div class="col-sm-1 mt-5">
         <ul class="list-group">
            <li type="button" class="list-group-item mt-4
             mb-4 itemPenColor" data-bs-toggle="modal" data-bs-target="#redesModalpen"><i
                  class="fa-sharp fa-solid fa-pen"></i></li>
            <li type="button" class="list-group-item mt-4
             mb-4 itemPenColor" data-bs-toggle="modal" data-bs-target="#datosPersonalesModalpen"><i
                  class="fa-sharp fa-solid fa-pen"></i></li>
            <li type="button" class="list-group-item mt-4
             mb-4 itemPenColor" data-bs-toggle="modal" data-bs-target="#bannerModalpen"><i
                  class="fa-sharp fa-solid fa-pen"></i></li>
            <li type="button" class="list-group-item mt-4
             mb-4 itemPenColor" data-bs-toggle="modal" data-bs-target="#educacionModalpen"><i
                  class="fa-sharp fa-solid fa-pen"></i></li>
            <li type="button" class="list-group-item mt-4
             mb-4 itemPenColor" data-bs-toggle="modal" data-bs-target="#experienciaModalpen"> <i
                  class="fa-sharp fa-solid fa-pen"></i></li>
            <li type="button" class="list-group-item mt-4
             mb-4 itemPenColor" data-bs-toggle="modal" data-bs-target="#hardyskillsModalpen"><i
                  class="fa-sharp fa-solid fa-pen"></i></li>
            <li type="button" class="list-group-item mt-4
             mb-4 itemPenColor" data-bs-toggle="modal" data-bs-target="#proyectosModalpen"><i
                  class="fa-sharp fa-solid fa-pen"></i></li>
         </ul>
      </div>
      
<app-modal-educacion></app-modal-educacion>
<app-modal-experiencia></app-modal-experiencia>
<app-modal-hard-skills></app-modal-hard-skills>
<app-modal-navbar></app-modal-navbar>
<app-modal-sobre-mi></app-modal-sobre-mi>
<app-modal-proyecto></app-modal-proyecto>
<app-modal-redes></app-modal-redes>

<app-footer></app-footer>