<section class="experiencia">
    <div class="container text-white text-center mt-1 ms-0 mw-0">
      <div class="row text-left-important">
        <div class="col-4">
        </div>
        <div class="col-4 mt-3 mb-3">
          <h2>EXPERIENCIA</h2>
          <ul class="list-group">
            <li class="list-group-item"><a href="assets/imagenes/CV Celina Jure 2022 CA.pdf" target="blank" ><i>CURRICULUM VITAE</i></a></li>
            <li class="list-group-item"><a href="http://www.celinajure.com/" target="blank" ><i>ARTES</i></a></li>
            <li class="list-group-item"><a href="http://www.celinajure.com/" target="blank" ><i>ARTES + ARTES</i></a></li>
            <li class="list-group-item"><a href="http://www.celinajure.com/" target="blank" ><i>ARTES + ARTES + ARTES</i></a></li>
            <li class="list-group-item"><a href="assets/imagenes/CELINA JURE fuer HAMBURG@.pdf" target="blank" ><i>UTILITARIOS</i></a></li>
            <li class="list-group-item"><a href="assets/imagenes/laboca783@.pdf"><i>CONSTRUCCIONES</i></a></li>
            <li class="list-group-item"><a href="assets/imagenes/CALIFORNIA @27@.pdf" target="blank"><i>CONSTRUCCIONES+CONSTRUCCIONES</i></a></li>
            <li class="list-group-item"><a href="https://www.youtube.com/user/celinajure/videos" target="blank" ><i>PERFORMANCES</i></a></li>
            <li class="list-group-item"><a href="assets/imagenes/docencia/mariana tornea.m4v" target="blank"><i>DOCENCIA</i></a></li>
            <li class="list-group-item"><a href="assets/imagenes/docencia/0b822d9d-7c9f-43b9-a55c-c13b56ee34af.jpg" arget="blank"><i>DOCENCIA + DOCENCIA</i></a></li>
          </ul>
