.container-fluid-content{
    padding: 0px;
}
.img-fluid{
    max-width: 350%;
    min-width: 200%;
}
li.list-group-item{  
    background-color: transparent;
;
    padding : 3px;
}
.carousel-item-active{
align-items: center;
display: flex;

}
