<!-- Modal   PEN de EXPERIENCIA-->
<div class="modal fade" id="experienciaModalpen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">EXPERIENCIA</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>elija una opción</option>
            <option value="1">trabajo</option>
            <option value="2">trabajo 2</option>
            <option value="3">trabajo 3</option>
            <option value="4">trabajo 4</option>
            <option value="5">NUEVO TRABAJO</option>
          </select>
          <div class="mb-3">
            <label for="imagen" class="form-label">elegir una imagen</label>
            <input class="form-control" type="file" id="imagen">
          </div>
          <div class="mb-3">
            <label for="puesto" class="form-label">puesto</label>
            <input type="text" class="form-control" id="puesto" placeholder="complete aquí">
          </div>
          <div class="mb-3">
            <label for="descripción" class="form-label">descripción</label>
            <textarea  class="form-control" id="descripción" placeholder="complete aquí"></textarea>
          </div>
          <div class="mb-3">
            <label for="puesto" class="form-label">fecha de inicio</label>
            <input type="date" class="form-control" id="fecha de inicio" placeholder="fecha de inicio">
          </div>
          <div class="mb-3">
            <label for="puesto" class="form-label">fecha de finalización</label>
            <input type="date" class="form-control" id="fecha de finalización" placeholder="fecha de finalización">
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Es trabajo actual?</label>
          </div>        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secundary">GUARDAR</button>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN Modal PEN de EXPERIENCIA-->
  <!-- Modal TRASH de EXPERIENCIA-->
  <div class="modal fade" id="experienciaModaltrash" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">EXPERIENCIA</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>elija una opción</option>
            <option value="1">trabajo</option>
            <option value="2">trabajo 2</option>
            <option value="3">trabajo 3</option>
            <option value="4">NUEVO TRABAJO</option>
          </select>
        <div class="modal-footer">
          <button type="button" class="btn btn-secundary">BORRAR</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- FIN Modal TRASH de EXPERIENCIA-->
