
<!-- Modal PEN REDES-->
<div class="modal fade" id="redesModalpen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">REDES</h1>
          
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>elija una opción</option>
            <option value="1">instagram</option>
            <option value="2">twiter</option>
            <option value="3">linkedin</option>
            <option value="1">NUEVA RED</option>
          </select>
          <div class="mb-3">
            <label for="URL Red" class="form-label">url Red</label>
            <input type="url" class="form-control" id="exampleFormControlInput1" placeholder="complete aquí">
          </div>
          <div class="mb-3">
            <label for="Icono Red" class="form-label">icono Red</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="complete aquí un icono de fontawesome">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secundary">GUARDAR</button>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN del Modal PEN REDES-->
  <!-- Modal TRASH REDES-->
  <div class="modal fade" id="redesModaltrash" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">REDES</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>elija una opción</option>
            <option value="1">instagram</option>
            <option value="2">twiter</option>
            <option value="3">linkedin</option>
            <option value="1">NUEVA RED</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secundary">BORRAR</button>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN Modal  TRASH REDES-->
  
  
  <!-- Modal PEN DATOS PERSONALES-->
  <div class="modal fade" id="datosPersonalesModalpen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">DATOS PERSONALES</h1>
          
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>elija una opción</option>
            <option value="1">nombre</option>
            <option value="2">descripcion</option>
            <option value="3">carrusel imagen 1</option>
            <option value="4">carrusel imagen 2</option>
            <option value="5">carrusel imagen 3</option>
            <option value="6">carrusel imagen 4</option>
          </select>
          <div class="mb-3">
            <label for="puesto" class="form-label">nombre</label>
            <input type="text" class="form-control" id="puesto" placeholder="complete aquí">
          </div>
          <div class="mb-3">
            <label for="puesto" class="form-label">descripción</label>
            <input type="text" class="form-control" id="puesto" placeholder="complete aquí">
          </div>
          <div class="mb-3">
            <label for="imagen" class="form-label">imagen nueva</label>
            <input type="file" class="form-control" id="exampleFormControlInput1" placeholder="complete aquí">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secundary">GUARDAR</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal FIN de PEN DATOS PERSONALES-->
  <!-- Modal TRASH DATOS PERSONALES-->
  <div class="modal fade" id="datosPersonalesModaltrash" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">DATOS PERSONALES</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>elija una opción</option>
            <option value="1">nombre</option>
            <option value="2">descripcion</option>
            <option value="3">carrusel imagen 1</option>
            <option value="4">carrusel imagen 2</option>
            <option value="5">carrusel imagen 3</option>
            <option value="6">carrusel imagen 4</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secundary">BORRAR</button>
        </div>
      </div>
    </div>
  </div>
  <!--FIN Modal TRASH de DATOS PERSONALES-->
  
  
  <!-- Modal  PEN de BANNER-->
  <div class="modal fade" id="bannerModalpen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">BANNER</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option value="1">FONDO</option>
          </select>
          <div class="mb-3">
            <label for="" class="form-label"></label>
            <input type="file" class="form-control" id="exampleFormControlInput1" placeholder="complete aquí">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secundary">GUARDAR</button>
        </div>
      </div>
    </div>
  </div>
  <!--FIN Modal  PEN de BANNER-->
  <!-- Modal  TRASH de BANNER-->
  <div class="modal fade" id="bannerModaltrash" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">BANNER</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secundary">BORRAR</button>
        </div>
      </div>
    </div>
  </div>
    <!-- FIN  de Modal  TRASH de BANNER-->
  
  
    <!-- Modal   PEN de EDUCACION-->
  <div class="modal fade" id="educacionModalpen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">EDUCACIÓN</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <form [formGroup]="form" name="educacionform">
        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>elija una opción</option>
             <option value="1">CV</option>
            <option value="2">Primaria</option>
            <option value="3">Secundaria</option>
            <option value="4">Escuela Prov. de Danzas </option>
            <option value="5">Teatro Colón</option>
            <option value="6">Utaki</option>
            <option value="7">Fau UBA</option>
            <option value="8">Escuela de Bellas Artes "P. Pueyrredón"</option>
            <option value="9">École de Beeaux-Arts, Nimes</option>
            <option value="10">Kunstakademie Düsseldorf</option>
            <option value="11">Cursos</option>
            <option value="12">Argentina Programa</option>
            <option value="13">NUEVA</option>
          </select> 

          <div class="mb-3">
            <label for="tipo" class="form-label">nivel educativo</label>
            <input class="form-control" type="text" id="tipo" placeholder="complete aquí" formControlName="tipo" [ngClass]="{'is invalid':Tipo.errors && Tipo.touched,'is valid':!Tipo.errors && Tipo.touched}">
            <div *ngIf="Tipo.errors && Tipo.touched">
              <p *ngIf="Tipo.hasError('required')" class="text-danger">
                El Nivel Educativo es requerido!
              </p>
            </div>
          </div>

          <div class="mb-3">
            <label for="nombre" class="form-label">nombre de la institución</label>
            <input type="text" class="form-control" id="nombre" placeholder="complete aquí" formControlName="nombre" 
             [ngClass]="{'is invalid':Nombre.errors && Nombre.touched, 'is valid':!Nombre.errors && Nombre.touched}">
            <div *ngIf="Nombre.errors && Nombre.touched">
              <p *ngIf="Nombre.hasError('required')" class="text-danger">
                El Nombre del Establecimiento es requerido!
              </p>
            </div>
          </div>

         

          <div class="mb-3">
            <label for="lugar" class="form-label">lugar</label>
            <input type="text" class="form-control" id="lugar" placeholder="complete aquí">
          </div>
          <div class="mb-3">
            <label for="inicioFecha" class="form-label">fecha de inicio</label>
            <input type="date" class="form-control" id="fecha de inicio" placeholder="fecha de inicio">
          </div>
          <div class="mb-3">
            <label for="finfecha" class="form-label">fecha de finalización</label>
            <input type="date" class="form-control" id="fecha de finalización" placeholder="fecha de finalización">
          </div>        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secundary">GUARDAR</button>
        </div>
      
      </form>
    </div>
  </div>
</div>
    
  <!-- FIN Modal PEN de EDUCACION-->
    <!--  Modal  TRASH de EDUCACION-->
    <div class="modal fade" id="educacionModaltrash" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">EDUCACIÓN</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>   
        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>elija una opción</option>
            <option value="1">CV</option>
            <option value="2">Primaria</option>
            <option value="3">Secundaria</option>
            <option value="4">Escuela Prov. de Danzas </option>
            <option value="5">Teatro Colón</option>
            <option value="6">Utaki</option>
            <option value="7">Fau UBA</option>
            <option value="8">Escuela de Bellas Artes "P. Pueyrredón"</option>
            <option value="9">École de Beeaux-Arts, Nimes</option>
            <option value="10">Kunstakademie Düsseldorf</option>
            <option value="11">Cursos</option>
            <option value="12">Argentina Programa</option>
            <option value="13">NUEVA</option>
          </select>        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secundary">BORRAR</button>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN  de Modal TRASH de EDUCACION-->
  
  
  
  <!-- Modal   PEN de EXPERIENCIA-->
  <div class="modal fade" id="experienciaModalpen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">EXPERIENCIA</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>elija una opción</option>
            <option value="1">Arte: todo</option>
            <option value="2">Arte: grandes papeles</option>
            <option value="3">Arte: cerámica</option>
            <option value="1">Utilitarios</option>
            <option value="2">Construcciones: laboca783</option>
            <option value="3">Construcciones: California</option>
            <option value="1">Performances</option>
            <option value="2">Docencia</option>
            <option value="3">Docencia artes</option>
            <option value="4">NUEVA EXPERIENCIA</option>
          </select>
         
            <div class="mb-3">
              <label for="nombre" class="form-label">nombre</label>
              <input class="form-control" type="text" id="nombre" placeholder="complete aquí">
            </div>
            <div class="mb-3">
              <label for="lugar" class="form-label">lugar</label>
              <input type="text" class="form-control" id="lugar" placeholder="complete aquí">
            </div>
  
            <div class="mb-3">
              <label for="telefono" class="form-label">teléfono</label>
              <input type="text" class="form-control" id="telefono" placeholder="complete aquí">
            </div>
  
            <div class="mb-3">
              <label for="email" class="form-label">email</label>
              <input type="text" class="form-control" id="email" placeholder="complete aquí">
            </div>
            <div class="mb-3">
              <label for="domicilio" class="form-label">domicilio</label>
              <textarea  class="form-control" id="domicilio" placeholder="complete aquí"></textarea>
            </div>
            <div class="mb-3">
              <label for="inicioFecha" class="form-label">fecha de inicio</label>
              <input type="date" class="form-control" id="inicioFecha" placeholder="inicioFecha">
            </div>
            <div class="mb-3">
              <label for="fechaFin" class="form-label">fecha de finalización</label>
              <input type="date" class="form-control" id="fechaFin" placeholder="fechaFin">
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Es trabajo actual?</label>
            </div>        
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secundary">GUARDAR</button>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN Modal PEN de EXPERIENCIA-->
  <!-- Modal TRASH de EXPERIENCIA-->
  <div class="modal fade" id="experienciaModaltrash" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">EXPERIENCIA</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>elija una opción</option>
            <option value="1">Arte: todo</option>
            <option value="2">Arte: grandes papeles</option>
            <option value="3">Arte: cerámica</option>
            <option value="1">Utilitarios</option>
            <option value="2">Construcciones: laboca783</option>
            <option value="3">Construcciones: California</option>
            <option value="1">Performances</option>
            <option value="2">Docencia</option>
            <option value="3">Docencia artes</option>
            <option value="4">NUEVA EXPERIENCIA</option>
          </select>
        <div class="modal-footer">
          <button type="button" class="btn btn-secundary">BORRAR</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- FIN Modal TRASH de EXPERIENCIA-->
  
  
  <!--Modal PEN de HARD&SKILLS-->
  <div class="modal fade" id="hardyskillsModalpen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">HARD & SKILLS</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>elija una opción</option>
            <option value="1">HTML</option>
            <option value="2">CSS</option>
            <option value="3">ANGULAR</option>
            <option value="4">DIRECCION DE OBRAS</option>
            <option value="5">ALEMAN</option>
            <option value="6">INGLÉS</option>
            <option value="7">HOLANDES Y FRANCES</option>
            <option value="9">FLEXIBILIDAD</option>
            <option value="10">AUTONOMIA Y TOMA DE DECISIONES</option>
            <option value="11">COMUNICACION</option>
            <option value="11">Nueva Habilidad</option>
           </select>
          <div class="mb-3">
            <label for="porcentaje" class="form-label">elegir un valor</label>
            <input type="number" min="0" max="100" id="habilidadPorcentaje">
          </div>
          <div class="mb-3">
            <label for="descripción" class="form-label">descripción</label>
            <textarea  class="form-control" id="descripción" placeholder="opcional"></textarea>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secundary">GUARDAR</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--FIN deModal PEN de HARD&SKILLS-->
  <!--Modal TRASH de HARD&SKILLS-->
  <div class="modal fade" id="hardyskillsModaltrash" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">HARD & SKILLS</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>elija una opción</option>
            <option value="1">HTML</option>
            <option value="2">CSS</option>
            <option value="3">ANGULAR</option>
            <option value="4">DIRECCION DE OBRAS</option>
            <option value="5">ALEMAN</option>
            <option value="6">INGLÉS</option>
            <option value="7">HOLANDES Y FRANCES</option>
            <option value="8">NUEVA HABILIDAD</option>
           </select>
        <div class="modal-footer">
          <button type="button" class="btn btn-secundary">BORRAR</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--FIN deModal TRASH de HARD&SKILLS-->
  
  <!--Modal PEN de PROYECTOS-->
  <div class="modal fade" id="proyectosModalpen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">PROYECTOS</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>elija una opción</option>
            <option value="1">#00 YoProgamo</option>
            <option value="2">#01 BLOQUERA LOZANO</option>
            <option value="3">#02 SPREADING THE BEAT</option>
            <option value="4">#NUEVO PROYECTO</option>
           </select>
           <div class="mb-3">
            <label for="descripción" class="form-label">descripción</label>
            <textarea  class="form-control" id="descripción" placeholder="opcional"></textarea>
          </div>
          <div class="mb-3">
            <label for="porcentaje" class="form-label">estado porcentual del proyecto</label>
            <input type="number" min="0" max="100" id="habilidadPorcentaje">
          </div>
          <div class="mb-3">
            <label for="imagen" class="form-label">imagenes para documentar</label>
            <input class="form-control" type="file" id="imagen">
            <input class="form-control" type="file" id="imagen">
            <input class="form-control" type="file" id="imagen">
            <input class="form-control" type="file" id="imagen">
            <input class="form-control" type="file" id="imagen">
          </div>
          
        <div class="modal-footer">
          <button type="button" class="btn btn-secundary">GUARDAR</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--FIN deModal PEN de  PROYECTOS-->
  <!--Modal TRASH de  PROYECTOS-->
  <div class="modal fade" id="proyectosModaltrash" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">HARD & SKILLS</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>elija una opción</option>
            <option value="1">#00 YoProgamo</option>
            <option value="2">#01 BLOQUERA LOZANO</option>
            <option value="3">#02 SPREADING THE BEAT</option>
            <option value="4">#NUEVO PROYECTO</option>
           </select>
        <div class="modal-footer">
          <button type="button" class="btn btn-secundary">BORRAR</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--FIN deModal TRASH de  PROYECTOS-->


