<!-- boton PEN-->
<div class="col-sm-1 mt-5">
    <ul class="list-group">
      <li type="button" class="list-group-item mt-4
         mb-4 itemPenColor" data-bs-toggle="modal" data-bs-target="#redesModalpen"><i class="fa-sharp fa-solid fa-pen"></i></li>
      <li type="button" class="list-group-item mt-4
         mb-4 itemPenColor" data-bs-toggle="modal" data-bs-target="#datosPersonalesModalpen"><i class="fa-sharp fa-solid fa-pen"></i></li>
      <li type="button" class="list-group-item mt-4
         mb-4 itemPenColor" data-bs-toggle="modal" data-bs-target="#bannerModalpen"><i class="fa-sharp fa-solid fa-pen"></i></li>
      <li type="button" class="list-group-item mt-4
         mb-4 itemPenColor" data-bs-toggle="modal" data-bs-target="#educacionModalpen"><i class="fa-sharp fa-solid fa-pen"></i></li>
      <li type="button" class="list-group-item mt-4
         mb-4 itemPenColor" data-bs-toggle="modal" data-bs-target="#experienciaModalpen"> <i class="fa-sharp fa-solid fa-pen"></i></li>        
      <li type="button" class="list-group-item mt-4
         mb-4 itemPenColor" data-bs-toggle="modal" data-bs-target="#hardyskillsModalpen"><i class="fa-sharp fa-solid fa-pen"></i></li>
      <li type="button" class="list-group-item mt-4
         mb-4 itemPenColor" data-bs-toggle="modal" data-bs-target="#proyectosModalpen"><i class="fa-sharp fa-solid fa-pen"></i></li>
    </ul>
  </div>
  <!-- FIN boton PEN-->
  <div class="col-sm-1 mt-5">
    <ul class="list-group">
  <!-- boton TRASH -->
      <li type="button" class="list-group-item mt-4
      mb-4 itemTrashColor" data-bs-toggle="modal" data-bs-target="#redesModaltrash"><i class="fa-sharp fa-solid fa-trash"></i></li>
      <li type="button" class="list-group-item mt-4
      mb-4 itemTrashColor" data-bs-toggle="modal" data-bs-target="#datosPersonalesModaltrash"><i class="fa-sharp fa-solid fa-trash"></i></li>
      <li type="button" class="list-group-item mt-4
      mb-4 itemTrashColor" data-bs-toggle="modal" data-bs-target="#bannerModaltrash"><i class="fa-sharp fa-solid fa-trash"></i></li>
      <li type="button" class="list-group-item mt-4
      mb-4 itemTrashColor" data-bs-toggle="modal" data-bs-target="#educacionModaltrash"><i class="fa-sharp fa-solid fa-trash"></i></li>
      <li type="button" class="list-group-item mt-4
      mb-4 itemTrashColor" data-bs-toggle="modal" data-bs-target="#experienciaModaltrash"><i class="fa-sharp fa-solid fa-trash"></i></li>        
      <li type="button" class="list-group-item mt-4
      mb-4 itemTrashColor" data-bs-toggle="modal" data-bs-target="#hardyskillsModaltrash"><i class="fa-sharp fa-solid fa-trash"></i></li>
      <li type="button" class="list-group-item mt-4
      mb-4 itemTrashColor" data-bs-toggle="modal" data-bs-target="#proyectosModaltrash"><i class="fa-sharp fa-solid fa-trash"></i></li>
    </ul>
  </div>
 
<!-- FIN boton TRASH-->
