<!--Modal PEN de HARD&SKILLS-->
<div class="modal fade" id="hardyskillsModalpen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">HARD & SKILLS</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>elija una opción</option>
            <option value="1">HTML</option>
            <option value="2">CSS</option>
            <option value="3">ANGULAR</option>
            <option value="4">DIRECCION DE OBRAS</option>
            <option value="5">ALEMAN</option>
            <option value="6">INGLÉS</option>
            <option value="7">HOLANDES Y FRANCES</option>
            <option value="8">NUEVA HABILIDAD</option>
           </select>
          <div class="mb-3">
            <label for="porcentaje" class="form-label">elegir un valor</label>
            <input type="number" min="0" max="100" id="habilidadPorcentaje">
          </div>
          <div class="mb-3">
            <label for="descripción" class="form-label">descripción</label>
            <textarea  class="form-control" id="descripción" placeholder="opcional"></textarea>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secundary">GUARDAR</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--FIN deModal PEN de HARD&SKILLS-->
  <!--Modal TRASH de HARD&SKILLS-->
  <div class="modal fade" id="hardyskillsModaltrash" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">HARD & SKILLS</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>elija una opción</option>
            <option value="1">HTML</option>
            <option value="2">CSS</option>
            <option value="3">ANGULAR</option>
            <option value="4">DIRECCION DE OBRAS</option>
            <option value="5">ALEMAN</option>
            <option value="6">INGLÉS</option>
            <option value="7">HOLANDES Y FRANCES</option>
            <option value="8">NUEVA HABILIDAD</option>
           </select>
        <div class="modal-footer">
          <button type="button" class="btn btn-secundary">BORRAR</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--FIN deModal TRASH de HARD&SKILLS-->
